
@font-face {
    font-family: 'kenyan_coffeeregular';
    src: url('app/fonts/kenyan_coffee_rg-webfont.woff2') format('woff2'),
         url('app/fonts/kenyan_coffee_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_sansregular';
    src: url('app/fonts/pts55f-webfont.woff2') format('woff2'),
         url('app/fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Chosence';
    src: url('app/fonts/Chosence Bold.eot');
	src: url('app/fonts/Chosence Bold.eot?#iefix') format('embedded-opentype'),
		url('app/fonts/Chosence Bold.woff2') format('woff2'),
		url('app/fonts/Chosence Bold.woff') format('woff'),
		url('app/fonts/Chosence Bold.svg#Chosence Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}


::-webkit-input-placeholder { opacity: 1; } /* FF 4-18  */
:-moz-placeholder           { opacity: 1; } /*  FF 19+  */
::-moz-placeholder          { opacity: 1; } /* IE 10+  */
:-ms-input-placeholder      { opacity: 1; } 

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#error{
  color: #ff2b2b;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}

body{
  margin: 0px;
  padding: 0px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}
.floatRight{
  float: right !important;
}
 .img_full{
   width: 100%;
   display: block;
 }
.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
li, a{
  list-style: none;
  text-decoration: none;
}
a{
  cursor: pointer;
}
a:hover, a.active, a:focus, a.activated{
  text-decoration: none;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.clear{
  clear: both;
  height: 0px;
}

/*  Header Css  */
.header_fluid{
  background: #f9edff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  height: 140px;
  position: relative;
  z-index: 444;
  border-top: 4px solid #6f2c91;
}
header{
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.logo{
  float: left;
  width: 163px;
}
.logo img{
  width: 100%;
  display: block;
  margin: 24px auto;
}
#checkbox-toggle{
    display: none;
}
#input[type=checkbox]:checked ~ label {
    background-color: #3D88BD;
}
.toggle_menu{
  display: none;
  width: 40px;
  height: 40px;
  background: #967da3;
  border-radius: 4px;
  border: none;
  margin: 48px 10px;
  float: right;
}
.toggle_menu span{
  width: 70%;
  margin: 8px auto;
  display: block;
  height: 3px;
  background: #fff;
}
.menuItem{
  position: relative;
  float: right;
  text-align: right;
  margin: 0px;
}
.menuItem li{
  list-style: none;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'kenyan_coffeeregular';
}
.menuItem li a{
  display: block;
  line-height: 34px;
  padding: 8px 20px;
  color: #535353;
  line-height: 122px;
  font-size: 28px;
}

.menuItem li:hover a{
  text-decoration: none;
  background: url("app/images/headMenuTop.png") no-repeat top center;
  background-size: 20px;
  color: #832990;
}
.menuItem li.active a, .menuItem li.activated a, .menuItem li a:focus{
  text-decoration: none;
  background: url("app/images/headMenuTop.png") no-repeat top center;
  background-size: 20px;
  color: #832990;
}
.menuItem li a img{
  vertical-align: initial;
}
.fb_bg{
  background: #3b5999;
}
.fb_bg:hover{
  background: #3b5999 !important;
}
.tw_bg{
  background: #159cda;
}
.tw_bg:hover{
  background: #159cda !important;
}
.yt_bg{
  background: #c12f29;
}
.yt_bg:hover{
  background: #c12f29 !important;
}
.fb_bg, .tw_bg, .yt_bg{
  width: 70px;
  text-align: center;
}
.fb_bg a:hover, .tw_bg a:hover, .yt_bg a:hover{
  text-decoration: none;
  background: none !important;
}
 .fb_bg a.active .tw_bg a.active, .yt_bg a.active{
  text-decoration: none;
  background: none !important;
}
.fb_bg a.activated, .tw_bg a.activated, .yt_bg a.activated{
  text-decoration: none;
  background: none !important;
}
.fb_bg a:focus, .tw_bg a:focus, .yt_bg a:focus{
  text-decoration: none;
  background: none !important;
}

/*  Body Css  */

.body_fluid{
  position: relative;
  z-index: 333;
}
.body_fluid .container{
  width: 70%;
}
/*  Footer Css  */

.footer_fluid{
  background: #1a1b1b url("app/images/footer-triangle.png") no-repeat top right 2%;
  background-size:41%;
  color: #fff;
  padding: 25px 0;
}
footer{
  width: 80%;
  margin: 0 auto;
  line-height: 40px;
}
footer .container{
  width: 100%;
}
footer .floatRight .foot_logo{
  /*width: 270px;*/
  width: 35%;
  margin: 0;
  display: block;
  float: right;
}
footer h3{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
  line-height: 30px;
  text-decoration: underline;;
}

footer a.mailLink{
  color: #fff;
  font-family: 'pt_sansregular';
  font-size: 20px;
  text-decoration: none;
  margin: 15px 0;
  display: inline-block;
}

footer a.mailLink:hover, footer a.mailLink.active, footer a.mailLink.activated, footer a.mailLink:focus{  
  text-decoration: none;
}
footer .footMenu{
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 4px solid #6f2c91;
}
footer .footMenu li{
  float: left;
  text-align: center;
  font-family: 'kenyan_coffeeregular';
  font-size: 39px;
  text-shadow: 0px 5px 6px rgba(0, 0, 0, 1);
  text-transform: uppercase;
  position: relative;
}

footer .footMenu li a{
  display: block;
  padding: 6px 30px;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
  background: url("app/images/footer-dots.png") no-repeat right center;
  background-size: 14px;
}
footer .footMenu li:first-child a{
  padding-left: 0px;
}
footer .footMenu li:nth-child(5) a{
  background: none;
}
/*footer .footMenu li:hover a, footer .footMenu li.active a{
  color: #6f2c91;  
  text-decoration: none;
}*/
footer .footMenu li a.activated, footer .footMenu li a.active{
  color: #6f2c91;  
  text-decoration: none;
}

.loginForm{
  width: 80%;    
  border-radius: 6px;  
}
.loginForm input{
  float: left;
  border-radius: 0px;  
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  color: #4b4b4b;
  font-size: 22px;
  background: #fff; 
  border: none;
  width: 70%;
  height: 54px;
  padding-left: 12px;
  font-family: 'pt_sansregular';
  line-height: 54px;
}
.loginForm input:focus{
    border-color: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    	outline: -webkit-focus-ring-color auto 0px !important;
}
.loginForm button{
  float: left;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  background: #6f2d91; 
  width: 125px;
  height: 54px;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'kenyan_coffeeregular';
  border: none;
  line-height: 54px;
}
.loginForm button:focus, .loginForm button:active{
   border-color: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    	outline: -webkit-focus-ring-color auto 0px !important;
}

.socialMenu{
  padding-left: 0px;
  margin: 15px 0
}
.socialMenu li{
  float: left;
  margin: 5px 6px;
}
.copyRight{
  font-size: 19px;
  color: #fff;
  margin-bottom: 0px;
}
/*  Home Css  */

.banner_sec{
  position: relative;
}
.banner_sec .banner_img{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  z-index: 11;
}
.banner_sec .bannerBoard{
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0px;
  width: auto;
  z-index: 100;
  margin: 0 auto;
  -webkit-animation-duration: 2s;
}
.banner_sec .playStore_btn{
  position: absolute;
  bottom: 7%;
  left: 0px;
  right: 0px;
  width: auto;
  z-index: 100;
  margin: 0 auto;
  text-align: center;
}
.banner_sec .playStore_btn a{
  display: inline-block;
  margin: 5px;
  -webkit-animation-duration: 3s;
}
.penright, .penleft{
  position: absolute;
  bottom: 0px;
  z-index: 100;
  -webkit-animation-duration: 0.6s;
}
.penright{
  right: 0px;
}
.penleft{
  left: 0px;
}
.body_sec{
  margin: 30px auto;
}
.body_sec img{
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 7px;
}
.body_sec h4{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin: 22px 0 16px 0;
  line-height: 32px;
  color: #414141;
  font-family:'Chosence';
  padding-bottom: 20px;
  position: relative;
}
.body_sec h4::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #892796;
  height: 2px;
  width: 120px;
}
.body_sec p{
  margin: 10px auto;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Ebrima';
  text-align: left;
}
.body_sec a{
  text-align: center;
  display: block;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  background: #702b90;
  border-radius: 22px;
  line-height: 48px;
  width: 180px;
  margin: 30px 0; 
  margin-bottom: 20px;
}
.body_sec a:hover, .body_sec a.activated, .body_sec a:focus, .body_sec a.active{
  text-decoration: none;
  color: #fff;
}
.body_sec a.active{
  text-decoration: none;
}

/*  Blog Css  */

.blogItem{
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin: 15px auto;
  width: 80%;
}
.blogItem:last-child{
  border-bottom: none;
}
.blogImgDiv{
  height: 450px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}
.blogImgDiv img{  
  width: 100% !important;
  position: relative;
  left: 50%;
  margin-left: -100%;
}
.blogItem h2{
  font-size: 32px;
  margin: 22px 0 16px 0;
  line-height: 32px;
  font-weight: bold;
  color: #414141;
  text-transform: uppercase;
  cursor: pointer;
  font-family:'Chosence';
  padding-bottom: 15px;
}
.blogItem p{
  font-size: 18px;
  line-height: 24px;
  font-family: 'Ebrima';
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}
.blogItem a{
  display: inline-block;
}
.blogItem a{
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  background: #702b90;
  border-radius: 22px;
  line-height: 48px;
  width: 180px;
  margin: 20px auto; 
}
.blogItem a:hover{
  color: #fff;
  text-decoration: none;
}

/*  Blogitem Css  */


.blogitem_sec{
  margin: 15px auto;
  padding: 15px;
  display: block;
  margin-bottom: 30px;
  width: 80%;
}

.blogitem_sec h4{
  font-size: 32px;
  margin: 22px 0 16px 0;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #414141;
  font-family:'Chosence';
  padding-bottom: 15px;
}
.blogitem_sec p{
  line-height: 24px;
  font-size: 18px;
  font-family: 'Ebrima';
}


/*  About Page  */

.about_container{
  margin-top: 70px;
}
.about_container .about_left{
  position: relative;
  float: left;
}
.about_container .about_left > img{
  width: 96%;
  display: block;
  margin: 0 auto;
}
.about_container .about_left span{
  width: 240px;
  height: 240px;
  margin: 0px auto;
  background: #fff;
  display: block;
  position: relative;
  bottom: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 190px rgba(0, 0, 0, 0.4) inset;
}
.about_container .about_left span::before{
  content: '';
  background: url("app/images/logo.png") no-repeat center center;
  background-size: 100%;
  position: absolute;
  z-index: 55;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  margin: 0 auto;
  width: 70%;
}
.about_container .about_left span::after{
  content: '';
  background: url("app/images/abooutimageshadow.png") no-repeat bottom center;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  height: 50px;
  bottom: -26px;
  left: 0px;
  right: 0px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
.about_container .about_right{
  float: right;
}
.about_container .about_right h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin: 8px 0 16px 0;
  line-height: 36px;
  color: #000;
  font-family:'Chosence';
  position: relative;
  padding-bottom: 20px;
}
.about_container .about_right h2::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #892796;
  height: 2px;
  width: 120px;
}
.about_container .about_right h2 span, .about_container .about_right p span, .about_container .about_right p span i{
  color: #892796;
}
.about_container .about_right p span{
  font-weight: bold;
}
.about_container .about_right p span i{
  font-weight: lighter;
}
.about_container .about_right p{
  margin: 10px auto;
  font-size: 18px;
  line-height: 26px;
  font-family: 'Ebrima';
  margin-bottom: 20px;
}
.about_container .about_right p a{
  display: block;
  margin: 5px auto;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 24px;
  font-family: 'Ebrima';
}
.about_container .about_right p a:hover{
  text-decoration: none;
}

/*  Contact Css  */

.contact_container{
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact_container p{
  color: #3d3c3d;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact_container h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 32px;
  margin: 8px 0 16px 0;
  line-height: 36px;
  color: #000;
  font-family:'Chosence';
  position: relative;
  padding-bottom: 20px;
}
.contact_container h2::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #892796;
  height: 2px;
  width: 120px;
}
.contact_container h2 span{
  color: #892796;
}

.contact_container i{
  font-size: 18px;
  color: #892796;
}
.contact_container h4, .contact_container a{
  font-size: 18px;
  color: #1a1c1b;
  font-weight: bold;
  display: block;
}
.contact_container h4{
  line-height: 30px;
  margin-bottom: 16px;
}
.contact_container a{
  margin-top: 10px;
}
.contact_container a:hover{
  text-decoration: none;
}

.contact_social{
  padding-left: 0px;
  border-top: 2px solid #812d8d;
  text-align: left;
  margin-top: 30px;
}
.contact_social li{
  display: inline-block;
  margin: 20px 15px;
}
.contact_social li:first-child{
  margin-left: 0px;
}

.contactForm {
  padding-right: 10%;
}
.contactForm input, .contactForm textarea{
  width: 100%;
  display: block;
  background: #eaeaea;
  padding-left: 15px;
  color: #a3a3a3;
  font-size: 19px;
  font-style: italic;
  border: 1px solid rgba(129, 45, 141, 0.3);
  border-radius: 6px;  
  margin-bottom: 20px;
  resize: none;
}
 .contactForm textarea{
   padding:15px; 
 }
.contactForm input{
  line-height: 60px;
  min-height: 60px;
}
 
.contactForm button{
  background: #812d8d;
  width: 100%;
  min-height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  font-size: 38px;
  line-height: 60px;
  font-family: 'kenyan_coffeeregular';
  display: block;
  border: none;
}



/*  Media Queries  */

@media screen and (max-width:1800px){
    footer .footMenu li a{
      display: block;
      padding: 6px 20px;
      width: 100px;
      font-size: 30px;
    }
    .loginForm input{
      width: 60%;
    }
}

@media screen and (max-width:1360px){
  .banner_sec .bannerBoard{
    width: 30%;
  }
  .penleft{
    width: 20%;
  }
  .penright{
    width: 14%;
  }
  .banner_sec .playStore_btn a img{
    width: 160px;
  }
  footer{
    width: 100%;
    text-align: center;
  }
  .footer_fluid{
    background: #1a1c1b;
    padding-top: 0px;
  }
  footer .col-md-6{
    width: 100%;
    padding-left:10%;
    padding-right: 10%; 
  }
  footer .floatRight .foot_logo{
    float: none;
    width: auto;
    margin: 0 auto;
  }
  footer .footMenu li{
    float: none;
    text-align: center;
    display: inline-block;
  }
  footer .footMenu li a{
    width: auto;
    padding: 6px 30px
  }
  footer .footMenu li:first-child a{
    padding-left: 30px;
  }
  .loginForm{
    width: 505px;
    margin: 0 auto;
    display: block;
  }
  .loginForm input{
    width: 380px;
  }
  .socialMenu li{
    float: none;
    display: inline-block;
    text-align: center;
  }
  .col-md-6.floatRight{
    float: none !important;
    background: #6f2d91;
    padding: 25px 0px;
    margin-bottom: 20px;
    border-bottom: 4px solid #923ac2;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  }

  .about_container{
    margin-top: 40px;
  }  
  .about_container .about_right, .about_container .about_left{
    float: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .about_container .about_right{
    margin-bottom: 40px;
  }
  .about_container .about_right h2::after{
    margin: 0 auto;
    right: 0px;
  }

  .contact_container .col-md-6{
    float: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .contactForm{
    padding-right: 0px;
    margin-bottom: 35px;
  }  
  .contact_container h2::after{
    margin: 0 auto;
    right: 0px;
  }
  .contact_social{
    text-align: center;
  }
}

@media screen and (max-width:1024px){
  header{
    width: 90%;
  }
  blogImgDiv{
    height: 300px;
  }
}


@media screen and (max-width:991px){

  header{
    width: 80%;
  }

  .toggle_menu{
    display: block;
  }
.menuItem li{
  display: block;
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.menuItem li a{
  color: #fff;
  line-height: 40px;
}
.menuItem li:last-child{
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
  .menuItem{
    display: none;
   
  }
  .menuItem {
    position: absolute;
    top: 137px;
    width: 100%;
    left: 0px;
    right: 0px;
    background: rgba(63, 62, 64, 0.8);
    padding-left: 0px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.menuItem li a:hover, .menuItem li a.active, .menuItem li a.activated, .menuItem li a:focus{
  background: none;
}
.menuItem li:hover a{
  color: #fff;
}
.body_fluid .container{
  width: 90%;
  text-align: center;
}
.body_sec p{
  text-align: center;
}
.body_sec a{
  margin: 20px auto;
}
.body_sec h4:after{
  right: 0px;
  margin: 0 auto;
}

}

@media screen and (max-width:768px){

  .about_container .about_left span{
    width: 180px;
    height: 180px;
    bottom: 60px;
  }
  .about_container .about_left span::after {
    bottom: -20px;
  }

}

@media screen and (max-width:640px){
  .header_fluid{
    height: 118px;
  }
  .logo{
    width: 122px;
  }
  .toggle_menu{
    margin: 37px 10px;
  }
  .menuItem{
    top: 114px;
  }
  header{
    width: 90%;
  }
  .banner_sec .playStore_btn a img{
    width: 100px;
  }

  footer .col-md-6{
    padding-left: 15px;
    padding-right: 15px
  }
  .loginForm{
    width: 320px;
  }
  .loginForm input{
    width: 200px;
  }
  .loginForm button{
    width: 118px;
  }

.blogItem{
  width: 100%;
}
  .blogImgDiv{
    height: 200px;
  }
  .blogitem_sec{
    width: 100%;
  }
}

@media screen and (max-width:500px){
  
  .banner_sec .playStore_btn a img{
    width: 100px;
  }
}

@media screen and (max-width:380px){
  footer .floatRight .foot_logo{
    width: 220px;
  }
  .loginForm{
    width: 290px;
  }
  .loginForm input{
    font-size: 18px;
    width: 188px;
  }
  .loginForm button{
    width: 100px;
    font-size: 22px;
  }
  .about_container .about_left span{
    width: 140px;
    height: 140px;
    bottom: 30px;
  }
  .about_container .about_left span::after {
    bottom: -20px;
  }
   .blogImgDiv{
    height: 150px;
  }

}