<img class="img_full" src="app/images/aboutus.jpg" alt="aboutus">
<div class="container about_container">
    <div class="row clearfix">        
        <div class="col-md-6 about_right">
            <h2>PURPLE FOX LABS - <span> World Class Entertainment</span></h2>
            <p>Situated at Kolkata, India - <span>Purple Fox Labs</span> is one of the most promising and fast growing game development companies.  
                Our passion and enthusiasm for games led us to set up Purple Fox Labs.</p>

            <p>We are a small versatile team coming from various backgrounds, having an extensive experience of many years. We have worked with clients around the globe. 
                Though we are new in this field but through our dedication and hard work we want to provide our users an experience of world class entertainment.</p>
            <p>
                <span>
                    <i>For any type of business, game or general queries please contact us in the following email:</i>
                </span>
                <a href="mailTo:info@purplefoxlabs.com"> info@purplefoxlabs.com</a>
            </p>
        </div>
        <div class="col-md-6 about_left">
            <img src="app/images/aboutimage.jpg" alt="aboutimage">
            <span class="about_left_round">
                <!--<img src="app/images/logo.png" alt="logo">-->
            </span>
        </div>
    </div>
</div>