<img class="img_full" src="app/images/blogdetails.jpg" alt="blogdetails">
<div class="container">
    <section class="blogitem_sec">
        <div class="row">
            <div class="col-md-12">
                <h4>Maecenas a justo in ipsum mattis sodales non quis ex</h4>
                <div class="blogImgDiv">
                    <img src="app/images/home_item1.jpg" alt="home_item1">
                </div>
                <p>Nunc placerat cursus neque, id tincidunt elit ullamcorper at. Sed commodo enim vel lacinia euismod. In maximus non mauris id rutrum. Nunc vel porttitor dui. Quisque ac leo efficitur, cursus nisi placerat, facilisis nulla. Aenean auctor ex ut elit aliquam fermentum. Sed finibus massa nec velit euismod semper vel id arcu.<br><br>
                Vestibulum vitae varius justo, at ultrices metus. Mauris laoreet posuere velit, sit amet congue magna efficitur imperdiet. Praesent ante enim, semper vel consectetur sed, accumsan id quam. Aliquam sit amet placerat elit. Duis nec purus ultrices, rutrum mi sit amet, ultricies urna. Cras sit amet lacus non nibh euismod volutpat eu eget elit. Mauris non nisl ac nibh gravida tristique nec et diam. Nullam congue tempor ipsum vel placerat. Suspendisse tempus hendrerit ultricies. Maecenas efficitur metus vitae porttitor pulvinar. Quisque eu iaculis erat. Duis lobortis ornare ex nec ornare. Aliquam ipsum quam, sollicitudin non nulla quis, blandit tempus lectus.<br><br>

Nulla facilisis iaculis massa ac aliquam. Cras et ipsum sed mi laoreet tincidunt. Nulla facilisi. Etiam pharetra sed leo congue bibendum. Curabitur venenatis porttitor dolor, nec eleifend tortor viverra in. In hac habitasse platea dictumst. Etiam vestibulum turpis ex, id dictum neque iaculis vitae. Nullam at nunc dolor. Praesent quis justo fermentum, vehicula nibh vitae, molestie enim. Cras auctor vestibulum posuere.<br><br>

Suspendisse non ipsum vitae orci faucibus pretium. Nam ut felis ac magna lacinia egestas ac et est. Fusce leo ligula, accumsan vitae nulla non, convallis pellentesque quam. Pellentesque nec convallis nulla, quis molestie magna. In feugiat lorem eu velit porttitor mollis et in est. Nulla viverra sollicitudin elit, ac consequat justo posuere a. Etiam non rutrum risus. Fusce fringilla pharetra lorem eget posuere.
                </p>
            </div>
        </div>
    </section>
</div>