<div class="container">
    <section class="blogitem_sec">
        <div class="row">
            <div class="col-md-12">
                <img src="app/images/home_item1.jpg" alt="home_item1">
                <h4>Item 1</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
    </section>
</div>