<section class="banner_sec">
    <img src="app/images/gifbanner.gif" alt="banner" class="banner_img" id="image">
    <img src="app/images/bannerBoard.png" alt="bannerBoard" class="bannerBoard animated jello">
    <div class="playStore_btn">
        <a href="#" class="animated swing"><img src="app/images/appstore-button.png" alt="appstore-button"></a>
        <a href="#" class="animated swing"><img src="app/images/google.png" alt="google"></a>
    </div>
    <img class="penleft animated fadeInRightBig" src="app/images/penleft.png" alt="penleft">
    <img class="penright animated fadeInLeftBig" src="app/images/penright.png" alt="penleft">
</section>
<div class="container">
    <section class="body_sec">
        <div class="row">
            <div class="col-md-4">
                <img src="app/images/home_item1.jpg" alt="home_item1">
                <h4>Lorem Ipsum is simply</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a routerLink="/blog">View</a>
            </div>
            <div class="col-md-4">
                <img src="app/images/home_item2.jpg" alt="home_item2">
                <h4>Lorem Ipsum is simply</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a routerLink="/blog">View</a>
            </div>
            <div class="col-md-4">
                <img src="app/images/home_item1.jpg" alt="home_item1">
                <h4>Lorem Ipsum is simply</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                <a routerLink="/blog">View</a>
            </div>
        </div>
    </section>
</div>
