<section class="banner_sec">
    <img src="app/images/gifbanner.gif" alt="banner" class="banner_img" id="image">
    <img src="app/images/bannerBoard.png" alt="bannerBoard" class="bannerBoard animated jello">
    <div class="playStore_btn">
        <a href="#" class="animated swing"><img src="app/images/appstore-button.png" alt="appstore-button"></a>
        <a href="#" class="animated swing"><img src="app/images/google.png" alt="google"></a>
    </div>
    <img class="penleft animated fadeInRightBig" src="app/images/penleft.png" alt="penleft">
    <img class="penright animated fadeInLeftBig" src="app/images/penright.png" alt="penleft">
</section>
<div class="container">
    <section class="body_sec">
        <div class="row">
            <div class="col-md-4">
                <img src="app/images/home_item1.jpg" alt="home_item1">
                <h4>conse ctetur adipiscing</h4>
                <p>Nunc placerat cursus neque, id tincidunt elit ullamcorper at. Sed commodo enim vel lacinia euismod. In maximus non mauris id rutrum. Nunc vel porttitor dui. Quisque ac leo efficitur, cursus nisi placerat, facilisis nulla. Aenean auctor ex ut elit aliquam fermentum. Sed finibus massa nec velit euismod semper vel id arcu.
                </p>
                <a routerLink="/blog">View</a>
            </div>
            <div class="col-md-4">
                <img src="app/images/home_item2.jpg" alt="home_item2">
                <h4>Fusce mattis et sapien</h4>
                <p>Aliquam erat volutpat. Sed interdum sodales ante, in fermentum diam vulputate at. Sed hendrerit condimentum nisl non lobortis. Ut sit amet nisl in massa mattis consequat. Nunc tincidunt lacinia bibendum. Nulla pellentesque tellus libero, id sodales neque hendrerit interdum. Aliquam erat volutpat. Sed interdum sodales ante, in fermentum diam vulputate at. Sed hendrerit condimentum nisl non lobortis. Ut sit amet nisl in massa mattis consequat. Nunc tincidunt lacinia bibendum. Nulla pellentesque tellus libero, id sodales neque hendrerit interdum.
                </p>
                <a routerLink="/blog">View</a>
            </div>
            <div class="col-md-4">
                <img src="app/images/home_item1.jpg" alt="home_item1">
                <h4>Lorem Ipsum is simply</h4>
                <p>Vivamus posuere faucibus nisi at tempor. Pellentesque dictum sapien mi, a consectetur eros varius sit amet. Morbi ornare neque sed imperdiet ultricies. Vivamus ac porttitor velit. Suspendisse elementum vestibulum ante, sit amet varius erat imperdiet eu. Sed euismod magna non.
                </p>
                <a routerLink="/blog">View</a>
            </div>
        </div>
    </section>
</div>
